<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercy | View Patient</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
            <div>
                <a class="navbar-brand fw-bold text-success" href="#">+Mercy Hospital</a>
            </div>
            <div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link fw-bold" href="/main/{{roleName}}">Back to Main Page</a>
              </li>
            </ul>
        </div>
    </div>
    </nav>
    <main class="container py-3">
        <div>
            <h2>Patient Personal Info</h2>
        </div>
        <div>
            <p><span class="fw-bold">Full Name:</span> {{patient.full_name}}</p>
            <p><span class="fw-bold">Social Security Number:</span> {{patient.ssn}}</p>
            <p><span class="fw-bold">Email:</span> {{patient.email}}</p>
            <p><span class="fw-bold">Phone:</span> {{patient.phone}}</p>
            <p><span class="fw-bold">Address:</span> {{patient.address}}</p>
            <p><span class="fw-bold">Gender:</span> {{patient.gender}}</p>
            <p><span class="fw-bold">Blood type:</span> {{patient.blood_type}}</p>
            <p><span class="fw-bold">Weight:</span> {{patient.weight}}</p>
            <p><span class="fw-bold">Height:</span> {{patient.height}}</p>
        </div>
    </main>
    <hr>

    <script src="/js/bootstrap.js"></script>
</body>
</html>